%h2 Basic settings

= form_for :sender, url(:sender, :update, id: @sender.id), class: 'ui form updateForm' do |f|
  .field
    %label Web Hook - HTTP POST will be made to your URLs when events occur with your messages.(leave blank to disable)
    .ui.fluid.labeled.input
      = f.text_field :web_hook, placeholder: 'Web Hook'
  .field
    .ui.checkbox
      = f.check_box :immediate, id: 'check-senderImmediately'
      %label(for="check-senderImmediately") Deliver mail immediately rather than in queue.

  %button.ui.blue.submit.button Save

.ui.horizontal.icon.divider
  %i.circular.rocket.icon

%h2 Deliver Settings

= form_for :sender, url(:sender, :update, id: @sender.id), class: 'ui form updateForm' do |f|
  .field
    %label Default mail deliver frequency for a certain email service provider / ESP  (per minute, should not more than 60)
    .ui.input
      = f.text_field :deliver_frequency

  %button.ui.blue.submit.button Save

.ui.horizontal.icon.divider
  %i.circular.exchange.icon

%p
  Special deliver frequency roles

  %table.ui.table.segment.sender-list
    %thead
      %tr
        %th.eight.wide.column domain
        %th.five.wide.column frequency
        %th Action
    = content_tag :tbody, '', :'data-senderId' => @sender.id, id: 'tbody-frequenciesList'

.ui.base.right.labeled.tiny.icon.button#btn-createNewRole
  %i.add.icon
  Create new role

.ui.small.modal.create-role
  .header
    Create Role
  = form_for :frequency, url(:sender, :frequency_create, id: @sender.id), class: 'ui form segment' ,id: 'form-createRole' do |f|
    .field
      .ui.left.labeled.icon.input
        = f.text_field :domain, placeholder: 'ESP domain (such as gmail.com)'
        %i.mail.icon
    .field
      .ui.left.labeled.icon.input
        = f.text_field :deliver_frequency, placeholder: 'deliver frequency'
        %i.rocket.icon

  .actions
    .ui.button.negative
      Cancel
    .ui.button.positive#btn-submitNewRole
      Create

- content_for :javascript do
  = javascript_include_tag 'sender/setting'