!!! Strict
%html
  %head
    %title= [@title || 'Jianxin', 'Intelligent Email delivery service.'].compact.join(' | ')
    = csrf_meta_tags
    = stylesheet_link_tag 'application', '/vendor/semantic/css/semantic.min.css', '/vendor/sweetalert/sweet-alert.css'
    = yield_content :stylesheet

  %body
    .ui.grid
      .sixteen.wide.column
        .ui.teal.menu
          .item#js:nav-index
            %i.cloud.icon
            简信
          = link_to url(:sender, :index), class: 'item pp', id: 'js:nav-sender', :'data-content' => 'Create Modify Delete sender.' do
            = content_tag 'i', '', class: 'rocket icon'
            = 'Senders Manage'
          = link_to url(:exception, :index), class: 'item pp', id: 'js:nav-exception', :'data-content' => 'Decide the handle on a error log.' do
            = content_tag 'i', '', class: 'bug icon'
            = 'Exceptions'
            - if @unknown_exception_count > 0
              = content_tag 'span', @unknown_exception_count, class: 'ui red label small', id: 'unknownExceptionCount'

      = yield

    = javascript_include_tag 'jquery.min', '/vendor/sweetalert/sweet-alert.min.js','jquery-ujs','/vendor/semantic/javascript/semantic.min.js', 'application'
    = yield_content :javascript