!!! Strict
%html
  %head
    %title= [@title || 'Jianxin', 'Intelligent Email delivery service.'].compact.join(' | ')
    = csrf_meta_tags
    = stylesheet_link_tag 'application', '/vendor/semantic/css/semantic.min.css', '/vendor/sweetalert/sweet-alert.css'
    = yield_content :stylesheet

  %body
    .ui.grid
      .sixteen.wide.column
        .ui.teal.menu
          .item#js:nav-index
            %i.cloud.icon
            简信
          = link_to url(:sender, :index), class: 'item pp', id: 'js:nav-sender', :'data-content' => 'Create Modify Delete sender.' do
            = content_tag 'i', '', class: 'rocket icon'
            = 'Senders Manage'
          %a.item.pp#js:nav-exception(data-content="Decide the handle on a certain log.")
            %i.bug.icon
            Unknown Exception
            %span.ui.red.label.small
              214

      = yield

    = javascript_include_tag 'jquery.min', '/vendor/sweetalert/sweet-alert.min.js','jquery-ujs','/vendor/semantic/javascript/semantic.min.js', 'application'
    = yield_content :javascript