.row
  .four.wide.column
    .ui.left.aligned.inverted.segment{class: ( @sender.status == 'online' ? 'blue' : 'red')}
      .ui.small.breadcrumb
        = link_to 'Senders', url(:sender, :list), class: 'section'
        .divider /
        .active.section
          = "#{@sender.ip} [#{@sender.status}]"
    .ui.divided.list
      .item
        %i.cloud.marker.icon
        .content
          .header
            Hostname:
          .description= @sender.domain
      .item
        %i.time.marker.icon
        .content
          .header Created at:
          .description= @sender.created_at.strftime '%Y-%m-%d %H:%M:%S'
      .item(style="padding-top: 2em" )
        = link_to url(:sender, :config_download, id: @sender.id) ,
        'data-content'=> 'Download config file for sender.', class: 'ui button pp' do
          = content_tag :i, '', class: 'download icon'
          = 'Download Config'

  .twelve.wide.column
    .ui.secondary.pointing.menu#nav-senderDashboard
      = link_to url(:sender, :dashboard, id: @sender.id), class: 'item index' do
        = content_tag :i, '', class: 'download icon'
        = 'Getting Started'
      = link_to url(:sender, :setting, id: @sender.id), class: 'item setting' do
        = content_tag :i, '', class: 'setting icon'
        = 'Setting'
      = link_to url(:sender, :logs, id: @sender.id), class: 'item logs' do
        = content_tag :i, '', class: 'list layout icon'
        = 'Logs'

    = yield

- content_for :stylesheet do
  = stylesheet_link_tag '/vendor/highlight/github.css'
- content_for :javascript do
  = javascript_include_tag '/vendor/highlight/highlight.pack.js'